<% provide(:title, "About") %>
<h1>About</h1>
<p>
 This is an application based on the Sample App from <a href="https://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> by <a href="https://www.michaelhartl.com/"><em>Michael Hartl</em></a>.
 The app is a simple social media app that allows users to create posts and follow other users. Some new features are to be included in the future.
</p>
<p>
 Hope you enjoy!
</p>
<p>
 Marek Sowiński
</p>
