<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Locally hosted server could be troublesome in regards to account activation, which is done with email. </p>
<p>The more convenient way is to use the app online with Heroku, at the <a href="https://quiet-scrubland-78128.herokuapp.com/">Heroku </a>.</p>
<p>
  To activate a new user at this moment in time on a locally hosted server, you should use the rails console and "activate" a particular "User".
</p>
<p>
  In case of further questions, please <%= link_to "contact me", contact_path %>.
</p>
